<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/<%= page %>.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script
      src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"
      defer
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
      defer
    ></script>
    <script>
        const page = '<%=page%>';
    </script>
    <script src="../js/nav.js" defer></script>
    <script src="../js/<%= page %>.js" defer></script>
    <title>Banco</title>
    <link rel="icon" href="../assets/logo.svg" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <span id="logo"><img src="../assets/logo.svg" alt="" />Banco</span>
        <!-- <span class="sub">
          <a href="https://facebook.com/mmuazam98"><i class="fab fa-facebook-f"></i></a>
          <a href="https://instagram.com/m.muazam.98"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/mmuazam98"><i class="fab fa-github"></i></a>
        </span> -->
      </div>
      <div class="toggler close">
        <img src="../assets/menu.svg" alt="" />
      </div>
      <div class="links">
        <ul>
          <li data-page="index"><a href="/">Home</a></li>
          <li data-page="customers"><a href="/customers">Customers</a></li>
          <li data-page="transactions"><a href="/transactions">View Transactions</a></li>
        </ul>
      </div>
    </nav>

