<%- include("partials/nav") %> 
    <section> 
        <div class="heading child">
            <h1>
                Easy Banking <br>in your<br> Busy Life.
            </h1>
        </div>
        <div class="child">
            <div class="card">
                <div class="face front">
                    <h3 class="debit">Debit Card</h3>
                    <h3 class="bank"><span><img src="../assets/logo.svg" alt=""></span> Banco</h3>
                    <img class="chip" src="../assets/chip.png" alt="chip">
                    <h3 class="number">5162 **** **** 9098</h3>
                    <h5 class="valid"><span>Valid<br>Thru</span><span>06/25</span></h5>
                    <h5 class="card-holder">Bianca Gualter</h5>
                </div>
                <div class="face back">
                    <div class="blackbar"></div>
                    <div class="cvvtext">
                        <div class="white-bar"></div>
                        <div class="cvv">***</div>
                    </div>
                    <p class="text">
                        Not valid for payment in foreign exchanges in Nepal and Bhutan. <br>
                        Use of this card us governed by the terms and conditions agreed to by the authorized signatory.
                        This card is the property of Banco Pvt. Limited and must be returned upon request. <br>
                        24 hour Customer Service:<img src="./assets/telephone.svg">111-825-888
                    </p>
                </div>
            </div>
        </div>
    </section> 
    
</body>
</html>